cache/
storage/
storage
logs/
target/
webpage/public/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/config.json
/.idea/encodings.xml
/.idea/kotlinc.xml
/src/main/resources/assets/img/logo.svg
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_2.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_28_0_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
/.idea/libraries/Maven__com_zaxxer_HikariCP_3_3_1.xml
/.idea/libraries/Maven__io_netty_netty_all_4_1_38_Final.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_17.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_2_8_1.xml
/.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_17.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_8.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/MovieProxy.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/.gitignore
